<div class="registration">
  <h1>Register</h1>
  <button (click)="postColonist()">CLICK ME</button>
  
  
  
  
  
  <form class="register-form" [formGroup]="registerForm" >
    <fieldset>
      <input type="text" placeholder="Enter your name" required formControlName="name"/>
      <input type="number" placeholder="Enter your age" required formControlName="age"/>
      <select required formControlName="job_id">
        <option [value]="NO_JOB_SELECTED">Select an Occupation</option>
        <option *ngFor="let job of jobs" [value]="job.id">{{ job.name }}</option>
      </select>
    </fieldset>
    <button type="submit">Register</button>
  </form>
  
  
  
  
  
  
  
  
  <!--<fieldset>
    <input type="text" name="name" value="" placeholder="Name">
    <input type="number" name="age" value="" placeholder="Age">
    <select style="-webkit-appearance: none;">
      <option value="" selected>Select an Occupation</option>
      <option *ngFor="let job of jobs">{{ job.name }}</option>
      </select>
  </fieldset>-->
  <h2><a routerLink="/encounters">Check In</a></h2>
  
</div>