.registration {
  font-size: 40px;
  height: 100%;
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  h1 {
    font-family: Roboto;
    color: white;
    margin: 45px;
  }
  .register-form {
    width: 80%;
    fieldset {
      width: 100%;
      display: flex;
      flex-flow: column;
      input {
        color: white;
        font-size: 20px;
        background-color: black;
        border: none;
        border-bottom: 1px solid white;
        margin: 40px 0;
        width: 100%;
      }
      select {
        font-size: 20px;
        color: red;
        width: 100%;
        margin: 30px 0;
        background-color: black;
        border: none;
        border-bottom: 1px solid white;
        margin: 40px 0;
        width: 100%;
        option {
          background-color: white;
          color: red;
        }
      }
    }
  }
  button {
    width: 100%;

    margin-top: 200px;
    font-size: 40px;
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
  }
}

input::-webkit-input-placeholder {
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

