.welcome {
  align-items: center;
  background: url("../../../assets/images/inspirational_space_sloth.jpg");
  background-size: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  height: 100%;
  justify-content: center;
  width: 100%;
  .center-welcome {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 78%;
    justify-content: space-between;
    color: white;
    .welcome-title{
      font-size: 50px;
      position: relative;
      bottom: 20px;
    }
    .tap-to-enter {
      text-align: center;
      position: relative;
      top: 50px;
      p {
        font-size: 20px;
        margin: 10px;
      }
    }
  }
}

.enter-button {
  position: absolute;
  top: 350px;
  left: 550px;
  width: 75px;
  height: 75px;
  a {
    animation: border-pulse 2s infinite;
    background: rgba(237, 237, 237, .2);
    border-radius: 50%;
    display: block;
    height: 75px;
    opacity: .2;
    width: 75px;
  }
}

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, .1), 0 0 0 2rem rgba(255, 255, 255, .15), 0 0 0 3rem rgba(255, 255, 255, .2);
  }
  50% {
    box-shadow: 0 0 0 1.25rem rgba(255, 255, 255, .1), 0 0 0 2.75rem rgba(255, 255, 255, .1), 0 0 0 4rem rgba(255, 255, 255, 0);
  }
  75% {
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, .1), 0 0 0 3rem rgba(255, 255, 255, 0), 0 0 0 5rem rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 1.75rem rgba(255, 255, 255, 0), 0 0 0 3.75rem rgba(255, 255, 255, 0), 0 0 0 6rem rgba(255, 255, 255, 0);
  }
}
