.welcome{
  background: linear-gradient( rgba(0,0,0,.8), rgba(237,67,67,.7) );
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  .center-welcome{
  height: 78%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  h1{
    color: white;
    font-size: 50px;
    }
    p{
      color: white;
      font-size: 30px;
    }
  }
}

.enter-button {
  width: 75px;
  height: 75px;
  a{
    display: block;
    width: 75px;
    height: 75px;
    opacity: .2;
    background: rgba(237,237,237,.2);
    border-radius: 50%;
    animation: border-pulse 2s infinite;
  }
}

@keyframes border-pulse{
  0%{box-shadow: 0 0 0 1rem rgba(255,255,255,.1), 
  0 0 0 2rem rgba(255,255,255,.15), 
  0 0 0 3rem rgba(255,255,255,.2);}
  50% {
    box-shadow: 0 0 0 1.25rem rgba(255,255,255,.1), 
    0 0 0 2.75rem rgba(255,255,255,.1), 
    0 0 0 4rem rgba(255,255,255,0);
  }
  75% {
    box-shadow: 0 0 0 1.5rem rgba(255,255,255,.1), 
    0 0 0 3rem rgba(255,255,255,0), 
    0 0 0 5rem rgba(255,255,255,0);
  }
  100% {
    box-shadow: 0 0 0 1.75rem rgba(255,255,255,0), 
    0 0 0 3.75rem rgba(255,255,255,0), 
    0 0 0 6rem rgba(255,255,255,0);
  }
}